*.pbxproj merge=union
*.xcworkspace -text
*.xcuserstate -text

*.swift text eol=lf
*.h text eol=lf
*.m text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.sh text eol=lf
*.rb text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.plist text eol=lf
*.xcscheme text eol=lf
*.xctestplan text eol=lf
Gemfile text eol=lf
Gemfile.lock text eol=lf
Package.swift text eol=lf
